.container {
  background: rgb(35, 39, 65);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .form-container {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 400px;

    .title {
      text-align: center;
      height: 40px;
      line-height: 40px;
      font-size: 20px;
      color: white;
      margin-bottom: 20px;
    }
  }

  .login-btn {
    display: flex;
    justify-content: center;
  }
}
